@page "/movies"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TutoDebutantBlazor.Entities
@using TutoDebutantBlazor.Data
@using TutoDebutantBlazor.Services
@implements IAsyncDisposable
@inject IDbContextFactory<TutoDebutantBlazor.Data.MoviesDbContext> DbFactory


<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="movies/create">Create New</a>
</p>

<div>
    <form action="/movies" data-enhance data-permanent>
        <input type="search" name="titleFilter" />
        <input type="submit" value="Search" />
    </form>
</div>

<QuickGrid Class="table" Items="FilteredMovies">
    <PropertyColumn Property="movie => movie.Title" />
    <PropertyColumn Property="movie => movie.ReleaseDate" />
    <PropertyColumn Property="movie => movie.Genre" />
    <PropertyColumn Property="movie => movie.Price" />

    <TemplateColumn Context="movie">
        <a href="@($"movies/edit?id={movie.Id}")">Edit</a> |
        <a href="@($"movies/details?id={movie.Id}")">Details</a> |
        <a href="@($"movies/delete?id={movie.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private MoviesDbContext context = default!;

    [Inject]
    private MoviesService service { get; set;  } = default!;

    [SupplyParameterFromQuery]
    private string? TitleFilter { get; set; }

    private IQueryable<Movie> FilteredMovies =>
        context.Movie.Where(m => m.Title!.Contains(TitleFilter ?? string.Empty));


    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        var movies = service.GetMovies();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();




}
